.university {

    font: 20px "Adobe Garamond Pro", "Times New Roman" !important;
    color: #aea0aa !important;
    font-weight: normal !important;;
    font-style: normal !important;;
    padding-bottom: 10px !important;
    line-height: 20px !important;
}

.fields {

    font: 18px "Adobe Garamond Pro", "Times New Roman" !important;
    color: #a49ba1 !important;
    font-weight: normal !important;;
    font-style: normal !important;;
    padding-bottom: 10px !important;
    line-height: 20px !important;
}

.mathquote {

    font: 20px "Adobe Garamond Pro", "Times New Roman" !important;
    color: #d2c4ce !important;
    font-weight: normal !important;;
    font-style: italic !important;;
    padding-top: 40px !important;
    padding-bottom: 10px !important;
    line-height: 28px !important;

}