<div id="footer">
        <!-- 960 Container -->
    <div class="container">

            <!-- About -->
        <div class="four columns">
            <div class="footer-headline"><h4>About Me</h4></div>
            <p>I am Luis Fontes, algebra student and functional programmer.</p>
            <p>At present I am interested in Hopf algebras, Axiom of Choice and some other math fields. Beside math, I like Ludwig Wittgenstein, photography and wine tasting.</p>
        </div>

            <!-- Useful Links -->
        <div class="four columns">
            <div class="footer-headline"><h4>Useful Links</h4></div>
            <ul class="links-list">
                <li><a href="http://math.ucr.edu/home/baez/">John Baez's Stuff</a></li>
                <li><a href="https://golem.ph.utexas.edu/category/">The n-category Café</a></li>
                <li><a href="#">Help Desk</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Validate License</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Knowledgebase</a></li>
            </ul>
        </div>

            <!-- Photo Stream -->
        <div class="four columns">
            <div class="footer-headline"><h4>About Me</h4></div>
            <p>I am Luis Fontes, algebra student and functional programmer.</p>
            <p>At present I am interested in Hopf algebras, Axiom of Choice and some other math fields. Beside math, I like Ludwig Wittgenstein, photography and wine tasting.</p>
        </div>

            <!-- Latest Tweets -->
        <div class="four columns">
            <div class="footer-headline"><h4>Latest Tweets</h4></div>
            <ul id="twitter"></ul>
            <script type="text/javascript">
					jQuery(document).ready(function($){
                        $.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
                            $("#twitter").html(tz_format_twitter(tweets));
                        }); });
				</script>
            <div class="clear"></div>
        </div>

            <!-- Footer / Bottom -->
        <div class="sixteen columns">
            <div id="footer-bottom">
				© Web design and content by <a href="#">Luis Fontes</a>. No rights reserved.
                <div id="scroll-top-top"><a href="#"></a></div>
			</div>
        </div>

    </div>
        <!-- 960 Container / End -->

</div>