<!-- LayerSlider Container -->
<div class="layerslider-container">

        <!-- LayerSlider / Start -->
    <div id="layerslider" style="width: 1180px; height: 500px; margin: 0 auto;">

            <!-- Slide #1 -->
        <div class="ls-slide" style="transition2d: 67; timeshift: -1000; slidedelay: 7000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/conway.jpg")' alt="John Horton Conway">


            <div class="slide-caption alt ls-s1" style="left: 30px; top: 0; width: 45%; height: 60%; slidedirection: bottom; slideoutdirection: bottom; durationin: 800; durationout: 800; delayin: 0; delayout: 0;">
                <h3>John Horton Conway</h3>
                <p class="fields">Teoría de grupos, teoría de números, geometría, combinatoria, teoría de juegos</p>
                <p class="university">Universidad de Princeton</p>
                <p class="mathquote">¿Cuál es la ontología de las cosas matemáticas?... No hay duda de que existen pero no las puedes tocar excepto pensando en ellas. Es sorprendente y yo todavía no lo entiendo habiendo sido un matemático toda mi vida...</p>
            </div>

        </div>

            <!-- Slide #2 -->
        <div class="ls-slide" style="transition2d: 3; timeshift: -500; slidedelay: 7000;">

                <!-- Background -->
            <img class="ls-bg" src='@routes.Assets.at("images/conway.jpg")' alt="John Horton Conway">

            <div class="slide-caption alt ls-s1" style="left: 0; top: 0; height: 60%; width: 45%; slidedirection: left; slideoutdirection: left; durationin: 800; durationout: 800; delayin: 0; delayout: 0;">
                <h3>John Horton Conway</h3>
                <p class="fields">Teoría de grupos, teoría de números, geometría, combinatoria, teoría de juegos</p>
                <p class="university">Universidad de Princeton</p>
                <p class="mathquote">¿Cuál es la ontología de las cosas matemáticas?... No hay duda de que existen pero no las puedes tocar excepto pensando en ellas. Es sorprendente y yo todavía no lo entiendo habiendo sido un mate.</p>
            </div>

        </div>

            <!-- Slide #3 -->
        <div class="ls-slide" style="transition2d: 5; slidedelay: 7000;">

                <!-- Background -->
            <img class="ls-bg" src="images/slider-img-03.jpg" alt="">

        </div>

    </div>
        <!-- LayerSlider / End -->

</div>
    <!-- LayerSlider Container / End -->