@(parameters: (String, String, models.botany.PrintableDraw4))
@import models.botany._
@main(title = parameters._1) {

    <br \><br \>

    <h4>Rooted trees</h4>
    <br \><br \>
    <h5>This is: @parameters._2</h5>


    <div>


        <svg width="800" height="600">

            @for(node <- parameters._3.points) {

                <circle cx=@node.x cy=@node.y r=@DrawSettings4.r stroke=@DrawSettings4.stroke stroke-width=@DrawSettings3.strokeWidth fill=@DrawSettings4.fill />
            }

            @for(line <- parameters._3.edges) {

                <line x1=@line.pos1.x y1=@line.pos1.y x2=@line.pos2.x y2=@line.pos2.y style=@DrawSettings4.lineStyle />
            }

        </svg>
    </div>
}

